*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Georgia, serif;
    font-size: 1.2em;
    background: #D3D3D3;


}
h1{
    display: flex;
    justify-content: center;
}

legend{
    margin: 1rem;
}

form{
    width: 650px;
    margin: 0 auto;
    border: 2px solid rgba(0, 0, 0, .1);
    border-radius: .5rem;
    background-color: blanchedalmond;
    padding: 1rem;
}



